services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80"
    environment:
      - TZ=Etc/UTC  # <your_time_zone>
      # - WEBPASSWORD=<your_password>  # Can be changed with pihole pihole -a -p
      - FTLCONF_dns_listeningMode='ALL'  # Listen on all interfaces
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      - NET_ADMIN